<link rel="stylesheet" href="hoja-de-vida.component.css">
<h1>Hoja de vida</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <a routerLink="/inicio" routerLinkActive="active-link" class="nav-link">Andy David Salvatierra Moreira</a>
    </div>
    <div>
        <a routerLink="/acerca" routerLinkActive="active-link" class="nav-link">Jose Antonio Moreira Ruiz</a>
    </div>
    <div>
        <a routerLink="/contacto" routerLinkActive="active-link" class="nav-link">Jhonatan Andres Lopez Velez</a>
    </div>
</nav>